In [1]:
import numpy as np
import pandas as pd

import joblib

from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("ext_data.csv")
data

    age  sex  duration  department     amount  prof  claim
0    40    0         5           1  360670.00     0      1
1    35    0         7           1  382670.00     0      1
2    45    1        22           1  382670.00     0      1
3    28    1         6           3  382670.00     0      0
4    30    0        13           3  382670.00     0      1
..  ...  ...       ...         ...        ...   ...    ...
75   38    1        13           2  343436.16     1      0
76   48    0         5           1  268713.16     1      1
77   30    0        14           2  333550.36     1      0
78   38    0         8           2  390735.97     1      0
79   46    1        10           0  290423.83     1      0

[80 rows x 7 columns]

In [3]:
data.isna().sum()

age           0
sex           0
duration      0
department    0
amount        0
prof          0
claim         0
dtype: int64

In [4]:
clf = RandomForestClassifier()
clf.fit(data.drop(columns=["claim","prof"]),data["claim"])

RandomForestClassifier()

In [5]:
joblib.dump(clf,"trained_model.sav")

['trained_model.sav']